{{#extend "stylesheets"}}
    <link href="stylesheets/sucursal.css" rel="stylesheet">
    <link href="stylesheets/listaDeResultados.css" rel="stylesheet">
{{/extend}}

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.ejs">
                    S<span class="fa fa-flask fa-lg" aria-hidden="true"></span>P
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="action"><a href="lista-muestras">Lista de resultados</a></li>
                    <li class=""><a href="ingresomuestra.ejs">Ingresar resultados</a></li>
                    <li class=""><a href="index.ejs">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section align="center">
    <h1>Salud Primero S.A.</h1>
    <p>Gestión de Resultados de Exámenes Médicos.</p>
</section>
<div class="container" id="tabla1">
    <section align="center">
        <h3>Lista de Muestras</h3><br>
    </section>
    <div class="table-responsive">
        <table class="table table-striped" id="table">
            <thead>
                <tr id="listaEncabezado">
                    <td>Código de Barras </td>
                    <td>Estado</td>
                    <td>Tipo</td>
                    <td>Laboratorio</td>
                    <td>Acción</td>
                </tr>
            </thead>
            <tbody id="tabla">

            </tbody>
        </table>
    </div>
</div>
<div class="container" id="muestra" style="display:none">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <section align="center">
                <h3>Muestra</h3>
            </section>
            <a href="/lista-muestras" class="btn btn-success btn-sm">Regresar</a>
            <br><br>
            <div class="form-group">
                <label for="codBarras">Codigo de Barras</label>
                <input type="text" class="form-control" id="codBarras" disabled>
            </div>
            <div class="form-group">
                <label for="codBarras">Estado</label>
                <div class="radio">
                    <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Enviado
                  </label>
                </div>
                <div class="radio">
                    <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
                    Recibido
                  </label>
                </div>
                <div class="radio">
                    <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
                    Hubo un inconveniente
                  </label>
                </div>
            </div>
            <div class="form-group">
                <label for="codBarras">Tipo</label>
                <input type="text" class="form-control" id="tipo" disabled>
            </div>
            <div class="form-group">
                <label for="codBarras">Laboratorio Destino</label>
                <input type="text" class="form-control" id="lab" disabled>
            </div>
            <h2>Examenes</h2>
            <div class="" id="examenes">

            </div>
        </div>
    </div>
</div>

{{#extend "scripts"}}
<script type="text/javascript">
    $(document).ready(function() {
        $.getJSON("muestras/todos", function(data) {
            console.log(data);
            $(data).each(function(key, muestra) {
                var $btn = $('<a class="btn btn-default btn-xs">Responder</a>');
                $btn.attr('href', 'muestras/' + muestra._id);
                var $tr = $("<tr>");
                $tr.append($('<td>').text(muestra.cod_barras).attr('id', 'cod_barras'))
                    .append($('<td>').text(muestra.estado).attr('id', 'estado'))
                    .append($('<td>').text(muestra.tipo).attr('id', 'tipo'))
                    .append($('<td>').text(muestra.lab_asignado).attr('id', 'lab_asignado'))
                    .append($('<td>').html($btn));

                $("#tabla").append($tr);
            });
            $("#table").DataTable();

        })
        $(document).on('click', 'a.btn.btn-default', function(event) {
            event.preventDefault();
            /* Act on the event */
            $("#tabla1").hide();
            $("#muestra").show();
            var $row = $(this).parent().parent();
            // console.log($row.html());
            var cod = $row.children('td#cod_barras').text();
            var estado = $row.children('td#estado').text();
            var lab = $row.children('td#lab_asignado').text();
            var tipo = $row.children('td#tipo').text();
            $("input#cod_barras").val(cod);
            $("input#estado").val(estado);
            $("input#tipo").val(tipo);
            $("input#lab").val(lab);
        });;
    });
</script>
{{/extend}}
