
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/operario/pacientes">
                    S<span class="fa fa-flask fa-lg" aria-hidden="true"></span>P
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="/operario/pacientes">Pacientes</a></li>
                    <li class="action"><a href="#">Muestras</a></li>
                    <li class=""><a href="/operario/estadisticas">Estadísticas</a></li>
                    <li class=""><a href="/">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="container containerMin">
    <div class="row" id="create-search">
        <div class="col-md-6" id="muestra-create">
            <a href="/operario/muestra-crear">
                <span class="fa fa-plus-circle fa-3x"></span>
                <span id="text" class="fa">Registrar nueva muestra</span>
            </a>
        </div>
        <div class="col-md-6" id="muestra-search">
            <input class="form-control" type="text" name="search" value="" placeholder="buscar">
        </div>
    </div>
</section>
<section class="container containerMin" id="content">
    <table class="table table-hover" id="tableMuestras">

    </table>
</section>

{{#extend "scripts"}}
    <script src="javascripts/operario.js" charset="utf-8"></script>
    <script>
        $().ready(function() {
            //Carga todas las muetras de los Pacientes.
            var url = "/muestras";
            var data = $("#tableMuestras").serialize();
            $.ajax({
                type: 'GET',
                url: url,
                data: data,

                success: function(respuesta) {
                    /*respuesta.forEach(function(item){
                    var $option = $("<option></option>");
                    $option.text(item.cedula);
                    $("#inputcedula").append($option);
                    })
                    $("#inputcedula").change(function(){
                        respuesta.forEach(function(item){
                            if($("#inputcedula").val()==item.cedula){
                                $("#inputPaciente").val(item.nombres);
                            }
                        })

                    })
                    $("#inputcedula").change(function(){
                        respuesta.forEach(function(item){
                            if($("#inputcedula").val()==item.cedula){
                                $("#inputPacienteap").val(item.apellidos);
                            }
                        })

                    })*/
                }
            });
        });
    </script>
{{/extend}}
